html {
    scroll-behavior: smooth;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgb(30,30,30);
    font-family: sans-serif;
    font-size: 20px;
}
a{
    font-size: 30px;
    text-decoration:none;
    margin-top: 50px;
    color: rgb(191, 100, 21);
}

h1{
    color: aliceblue;
}

/*cursor-following blur*/
#blob{
    height: 300px ;
    background-color: white;
    aspect-ratio: 1;
    position:fixed;
    left: 50%;
    top:50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, purple);
    animation: rotate 20s infinite;
    filter: blur(200px);
    z-index: -2;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    50%{
        scale: 1 1.5;
    }
    to {
        transform: rotate(360deg);
    }
}

#blur{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(200px);
}
/*blur end*/